body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color: #f3f3f3;
}

.container {
  text-align: center;
}

.board {
  margin-top:20px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-bottom: 20px; 
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.cell:hover {
  background-color: #e3e3e3;
}

.status {
  font-size:20px;
  margin-bottom: 20px;
}

#reset {
  padding: 10px 20px;
  font-size: 15px;
}
